.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.project-card {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    border: 2px solid var(--primary-bg-color);

    & img {
        max-width: 130px;
        border-radius: 8px;
        object-fit: contain;
    }

    & .arrow {
        width: 16px;
        transform: rotate(-135deg);
        transition: all 0.3s ease;
        top: 4px;
        right: 0;
        margin-left: 4px;
    }
}

.pc-info-div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & h3 {
        margin: 0;
        font-size: var(--font-size-l);
        line-height: 16px;
        font-weight: 500;
        transition: 0.5s ease;
    }

    & p {
        margin: 0;
        font-size: var(--font-size-m);
        color: var(--secondary-font-color);
        font-weight: 300;
    }
}