.skills {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & h3 {
        margin: 0;
        font-size: var(--font-size-s);
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--secondary-font-color);
    }
}

.skill-images {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;

    & img {
        max-height: 20px;
    }
}

.skill-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 4px;
}

.skill-tags div {
    border-radius: 100px;
    padding: 2px 8px;
    font-size: var(--font-size-s);
    font-weight: 500;
    text-transform: capitalize;
    transition: all ease 0.3s;
    border: 1px solid var(--secondary-font-color);
    color: var(--primary-font-color);
}

.skill-tags div:hover {
    border-color: var(--primary-bg-color);
    background-color: var(--highlight-color);
}